TCC/TCC/force-app/main/default/flows/InsertDocumentacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setValues</name>
        <label>setValues</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Documentacao.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descricao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentacao.DataEmissao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataEmissao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentacao.DataVencimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataVencimento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentacao.TipoDocumentacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentacao.OutroTipoDocumentacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescricaoTipo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentacao.DocumentacaoProjeto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjetoRelacionado.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Documentacao</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>tipoDocumentacao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoDocumentacao__c</picklistField>
        <picklistObject>Documentacao__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>InsertDocumentacao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InsertDocumentacao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Documentacao</name>
        <label>Create Documentacao</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Sucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erro_na_cria_o_da_Nova_Documenta_o</targetReference>
        </faultConnector>
        <inputReference>Documentacao</inputReference>
    </recordCreates>
    <screens>
        <name>Erro_na_cria_o_da_Nova_Documenta_o</name>
        <label>Erro na criação da Nova Documentação</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <fields>
            <name>ErroCriacaoDoc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 65, 65);&quot;&gt;Ocorreu um erro ao inserir a nova Documentação, retorne à página anterior e tente novamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>nova</name>
        <label>Nova Documentação</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setValues</targetReference>
        </connector>
        <fields>
            <name>nova_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>nova_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descricao</name>
                    <dataType>String</dataType>
                    <fieldText>Descrição</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nova_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Author</name>
                    <extensionName>c:displayDocAuthor</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>nova_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>nova_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataEmissao</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de Emissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nova_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataVencimento</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de Vencimento</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Caso a data esteja em branco, o sistema calculará automaticamente a data de vencimento com base no tipo.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 65, 65); font-size: 14px;&quot;&gt;A data de vencimento precisa ser posterior à data de emissão.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!DataEmissao} &lt;= {!DataVencimento}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>nova_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>nova_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo</name>
                    <choiceReferences>tipoDocumentacao</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nova_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescricaoTipo</name>
                    <dataType>String</dataType>
                    <fieldText>Descrição do Tipo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Outro</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>nova_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>nova_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsInProjeto</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Faz parte de Projeto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Sim</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Não</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nova_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjetoRelacionado</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>DocumentacaoProjeto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Documentacao__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Projeto Relacionado</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsInProjeto.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucesso</name>
        <label>Sucesso</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SucessNovaDoc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(103, 199, 63);&quot;&gt;Nova documentação inserida com sucesso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sucesso_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucesso_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sucesso_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sucesso_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sucesso_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fim</name>
                    <extensionName>c:finishInsertDocFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>nova</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Documentacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documentacao__c</objectType>
    </variables>
    <variables>
        <name>idNewDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
